<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
        <h2 class="mb-3 mt-3">Create new Listing</h2>
        <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control">
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please suggest some title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="description" placeholder="Add description"
                    class="form-control" required></textarea>
                <div class="invalid-feedback">Please write some description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="file" name="listing[image]" id="image" placeholder="Enter Image url" class="form-control"
                    required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" name="listing[category]" id="category" required>
                    <option disabled selected>Select a Category</option>
                    <option value="Trending">Trending</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Cities">Cities</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Castles">Castles</option>
                    <option value="Pools">Pools</option>
                    <option value="Farms">Farms</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Apartments">Apartments</option>
                    <option value="Boats">Boats</option>
                    <option value="Beach">Beach</option>
                    <option value="Cabins">Cabins</option>
                </select>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" id="price" placeholder="1200" class="form-control" required>
                    <div class="invalid-feedback">Please enter some valid price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" id="country" placeholder="India" class="form-control"
                        required>
                    <div class="invalid-feedback">Please enter a country</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" id="location" placeholder="Jaipur, Rajasthan"
                    class="form-control" required>
                <div class="invalid-feedback">Please enter some location</div>
            </div>
            <button class="btn btn-dark addBtn mb-3">Add</button>
        </form>
    </div>
</div>